{% extends "AppCoder/padre.html" %}

{% block contenidoQueCambia %}
<div class="container">
    <h1 style="text-align: center; margin-top: 20px;">Acerca De mi:</h1>
    <div class="row">
        <div class="col-6">
            <p>Mi nombre es Nicolas, tengo 19 años y soy estudiante de ing. en la informatica. <br>
                Este proyecto tiene el fin de juntar varios tipos de blogs para que la gente pueda estar al tanto de varios al mismo tiempo, y poder publicar sus propios apartados en cada blog
            </p>
        </div>
        <div class="col-6">
            <p>
                Tambien los usuarios se podran cominicar con el creador del apartado de blog, esto para evitar que los usuarios se queden con dudas al terminar de leerlo
            </p>
        </div>
    </div>
</div>
{% endblock%}